# project
/.nyc_output/
/lib/
/scratch/
*.tsbuildinfo

# node
node_modules/
npm-debug.log

# editors
/.idea/dictionaries
/.idea/*.local.xml
/.idea/workspace.xml
*.kate-swp
*.swp

# git
*.orig

# file managers
.directory
.DS_Store
