# project
/.nyc_output/
/coverage/
/lib/
*.tsbuildinfo
*.tgz

# node
/node_modules/
**/npm-debug.log*

# editors
/.idea/
**/*.kate-swp
**/*.swp
**/*~

# git
**/*.orig

# file managers
**/.directory
**/.DS_Store
**/Thumbs.db
